<!DOCTYPE html> 
<html lang="en">
	
<!-- /doctor-profile-settings.html  -->
<head>
		<meta charset="utf-8">
		<title>Online Appointment</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		
		<!-- Favicons -->
		<link href="/img/favicon.png" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
		
		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">
		
		<link rel="stylesheet" href="/plugins/dropzone/dropzone.min.css">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="/css/style.css">
		
		
	</head>
	<body onload="getData('<%= id %>')" onsubmit="saveData('<%= id %>')">

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="/health_care" class="navbar-brand logo">
							<img src="/img/logo.jpg" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="/health_care" class="menu-logo">
								<img src="/img/logo.jpg" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li>
								<!-- <a href="/health_care">Home</a> -->
							</li>
							<li class="has-submenu active">
								<!-- <a href="doctor-dashboard.html">Doctors </a> -->
							</li>	
							
							<li class="login-link">
								<!-- <a href="login.html">Login / Signup</a> -->
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							
						</li>
						
						<!-- User Menu -->
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								<span class="user-img">
									<img class="rounded-circle" src="/img/doctor/doctor-thumb-02.jpg" width="31" alt="ABC">
								</span>
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										<img src="/img/doctor/doctor-thumb-02.jpg" alt="User Image" class="avatar-img rounded-circle">
									</div>
									<div class="user-text">
										<h6>XYZ</h6>
										<p class="text-muted mb-0">Doctor</p>
									</div>
								</div>
								<a class="dropdown-item" href="/health_care/dashboard">Dashboard</a>
								<a class="dropdown-item">Profile Settings</a>
								<a class="dropdown-item" href="login.html">Logout</a>
							</div>
						</li>
						<!-- /User Menu -->
						
					</ul>
				</nav>
			</header>
			<!-- /Header -->
			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="/health_care">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Profile Settings</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img" id="doctor_image">
											<img src="/img/doctor/doctor-thumb-02.jpg" alt="Doctor Image">
										</a>
										<div class="profile-det-info" id="doctor_info">
											<h3 id="doctor_name">Dr. ABC</h3>
											
											<div class="patient-details">
												<h5 id="doctor_degree" class="mb-0">NA</h5>
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="/health_care/dashboard">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li>
												<a href="/health_care/appointments">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="my-patients.html">
													<i class="fas fa-user-injured"></i>
													<span>My Patients</span>
												</a>
											</li>
											<li>
												<a href="/health_care/schedule-timings">
													<i class="fas fa-hourglass-start"></i>
													<span>Schedule Timings</span>
												</a>
											</li>
											
											<li class="active">
												<a href="#">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											
											<li>
												<a href="doctor-change-password.html">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="index-2.html">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						<div class="col-md-7 col-lg-8 col-xl-9">
						
							<!-- Basic Information -->
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Basic Information</h4>
									<div class="row form-row">
										<div class="col-md-12">
											<div class="form-group">
												<div class="change-avatar">
													<div class="profile-img" id="user_image">
														<!-- <img src="/img/doctor/doctor-thumb-02.jpg" alt="User Image"> -->
													</div>
													<div class="upload-img" id="upload_image">
														<div class="change-photo-btn">
															<span><i class="fa fa-upload"></i> Upload Photo</span>
															<input type="file" class="upload">
														</div>
														<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group" id="user_name">
												<label>Username <span class="text-danger">*</span></label>
												<input id="doctor_username" type="text" class="form-control" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group" id="email">
												<label>Email <span class="text-danger">*</span></label>
												<input id="doctor_email" type="email" class="form-control" readonly>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group" id="first_name">
												<label>Name <span class="text-danger"></span></label>
												<input id="doctor_name_form" type="text" class="form-control">
											</div>
										</div>
										
										<div class="col-md-6">
											<div class="form-group" id="phone_no">
												<label>Phone Number</label>
												<input id="doctor_phone_number" type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group" id="gender">
												<label>Gender</label>
												<select id="gender_form" class="form-control select">
													<option value="Select" >Select</option>
													<option value="Male" id="male" >Male</option>
													<option value="Female" id="Female">Female</option>
													<option value="Others" id="Others">Others</option>

												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group mb-0" id="date_of_birth">
												<label>Date of Birth</label>
												<input type="date" id="doctor_dob_form" class="form-control">
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Basic Information -->
							
							<!-- About Me -->
							<div class="card">
								<div class="card-body" id="about_me">
									<h4 class="card-title">About Me</h4>
									<div class="form-group mb-0" id="biography">
										<label>Biography</label>
										<textarea class="form-control" id = "about_me" rows="5"></textarea>
									</div>
								</div>
							</div>
							<!-- /About Me -->
							
							<!-- Clinic Info -->
							<div class="card">
								<div class="card-body" id="clinic_info">
									<h4 class="card-title">Clinic Info</h4>
									<div class="row form-row">
										<div class="col-md-12">
											<div class="form-group" id="clinic-image">
												<label>Clinic Images</label>
												<form action="#" class="dropzone"></form>
											</div>
											<!-- <div class="upload-wrap" id="upload_image">
												<div class="upload-images">
													<img src="/img/features/feature-01.jpg" alt="Upload Image">
													<a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
												</div>
												<div class="upload-images">
													<img src="/img/features/feature-02.jpg" alt="Upload Image">
													<a href="javascript:void(0);" class="btn btn-icon btn-danger btn-sm"><i class="far fa-trash-alt"></i></a>
												</div>
											</div> -->
										</div>
									</div>
								</div>
							</div>
							<!-- /Clinic Info -->

							<!-- Contact Details -->
							<div class="card contact-card">
								<div class="card-body" id="contact_details">
									<h4 class="card-title">Contact Details</h4>
									<div class="row form-row">
										<div class="col-md-8">
											<div class="form-group">
												<label>Address</label>
												<input type="text"  class="form-control" id="doctor_address_form">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<!-- <label class="control-label">Address Line 2</label> -->
												<!-- <input type="text" class="form-control" id="address2"> -->
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<!-- <label class="control-label">City</label> -->
												<!-- <input type="text" class="form-control" id="city"> -->
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group">
												<!-- <label class="control-label">State / Province</label> -->
												<!-- <input type="text" class="form-control" id="state"> -->
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<!-- <label class="control-label">Country</label> -->
												<!-- <input type="text" class="form-control" id="country"> -->
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<!-- <label class="control-label">Postal Code</label> -->
												<!-- <input type="text" class="form-control" id="postal_code"> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Contact Details -->
							
							<!-- Pricing -->
							<div class="card">
								<div class="card-body" id="price">
									<h4 class="card-title">Pricing</h4>
									
									<div class="form-group mb-0">
										<div id="pricing_select">
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="price_free" name="rating_option" class="custom-control-input" value="price_free" checked>
												<label class="custom-control-label" for="price_free">Free</label>
											</div>
											<div class="custom-control custom-radio custom-control-inline">
												<input type="radio" id="price_custom" name="rating_option" value="custom_price" class="custom-control-input">
												<label class="custom-control-label" for="price_custom">Custom Price (per Booking)</label>
											</div>
										</div>

									</div>
									
									<div class="row custom_price_cont" id="custom_price_cont" style="display: none;">
										<div class="col-md-4">
											<input type="text" class="form-control" id="custom_rating_input" name="custom_rating_count" value="" placeholder="20">
											<small class="form-text text-muted">Custom price you can add</small>
										</div>
									</div>
									
								</div>
							</div>
							<!-- /Pricing -->
							
							<!-- Services and Specialization -->
							<div class="card services-card">
								<div class="card-body">
									<h4 class="card-title">Services and Specialization</h4>
									<div class="form-group">
										<label>Services</label>
										<input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Services" name="services" id="services">
										<small class="form-text text-muted">Note : Type & Press enter to add new services</small>
									</div> 
									<div class="form-group mb-0">
										<label>Specialization </label>
										<input class="input-tags form-control" type="text" data-role="tagsinput" placeholder="Enter Specialization" name="specialist" value="Children Care,Dental Care" id="specialist">
										<small class="form-text text-muted">Note : Type & Press  enter to add new specialization</small>
									</div> 
								</div>              
							</div>
							<!-- /Services and Specialization -->
						 
							<!-- Education -->
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Education</h4>
									<div class="education-info" id="education_info">
										<div class="row form-row education-cont">
											<div class="col-12 col-md-10 col-lg-11">
												<div class="row form-row">
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Degree</label>
															<input type="text" class="form-control degree_class" id="degree" required>
														</div> 
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>College/Institute</label>
															<input type="text" class="form-control institute_class" id="college" required>
														</div> 
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group ">
															<label>Year of Completion</label>
															<input type="text" class="form-control year_of_completion_class" id="year" required>
														</div> 
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="add-more" id="add_more">
										<a href="javascript:void(0);" class="add-education"><i class="fa fa-plus-circle"></i> Add More</a>
									</div>
								</div>
							</div>
							<!-- /Education -->
						
							<!-- Experience -->
							<!-- <div class="card">
								<div class="card-body">
									<h4 class="card-title">Experience</h4>
									<div class="experience-info" id="experience_info">
										<div class="row form-row experience-cont">
											<div class="col-12 col-md-10 col-lg-11">
												<div class="row form-row">
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Hospital Name</label>
															<input type="text" class="form-control" id="hospital_name">
														</div> 
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>From</label>
															<input type="text" class="form-control" if="from">
														</div> 
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>To</label>
															<input type="text" class="form-control" id="to">
														</div> 
													</div>
													<div class="col-12 col-md-6 col-lg-4">
														<div class="form-group">
															<label>Designation</label>
															<input type="text" class="form-control" id="destination">
														</div> 
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="add-more" id="add-more">
										<a href="javascript:void(0);" class="add-experience"><i class="fa fa-plus-circle"></i> Add More</a>
									</div>
								</div>
							</div> -->
							<!-- /Experience -->
							
							<!-- Awards -->
							<!-- <div class="card">
								<div class="card-body">
									<h4 class="card-title">Awards</h4>
									<div class="awards-info" id="awards_info">
										<div class="row form-row awards-cont">
											<div class="col-12 col-md-5">
												<div class="form-group">
													<label>Awards</label>
													<input type="text" class="form-control" id="awards">
												</div> 
											</div>
											<div class="col-12 col-md-5">
												<div class="form-group">
													<label>Year</label>
													<input type="text" class="form-control" id="award_year">
												</div> 
											</div>
										</div>
									</div>
									<div class="add-more" id="add_more">
										<a href="javascript:void(0);" class="add-award"><i class="fa fa-plus-circle"></i> Add More</a>
									</div>
								</div>
							</div> -->
							<!-- /Awards -->
							
							<!-- Memberships -->
							<!-- <div class="card">
								<div class="card-body">
									<h4 class="card-title">Memberships</h4>
									<div class="membership-info" id="membership_info">
										<div class="row form-row membership-cont">
											<div class="col-12 col-md-10 col-lg-5">
												<div class="form-group">
													<label>Memberships</label>
													<input type="text" class="form-control" id="memberships">
												</div> 
											</div>
										</div>
									</div>
									<div class="add-more" id="add_more">
										<a href="javascript:void(0);" class="add-membership"><i class="fa fa-plus-circle"></i> Add More</a>
									</div>
								</div>
							</div> -->
							<!-- /Memberships -->
							
							<!-- Registrations -->
							<!-- <div class="card">
								<div class="card-body">
									<h4 class="card-title">Registrations</h4>
									<div class="registrations-info" id="registration_info">
										<div class="row form-row reg-cont">
											<div class="col-12 col-md-5">
												<div class="form-group">
													<label>Registrations</label>
													<input type="text" class="form-control" id="registrations">
												</div> 
											</div>
											<div class="col-12 col-md-5">
												<div class="form-group">
													<label>Year</label>
													<input type="text" class="form-control" id="regitration_year">
												</div> 
											</div>
										</div>
									</div>
									<div class="add-more" id="add_more">
										<a href="javascript:void(0);" class="add-reg"><i class="fa fa-plus-circle"></i> Add More</a>
									</div>
								</div>
							</div> -->
							<!-- /Registrations -->
							
							<div class="submit-section submit-btn-bottom" id="save_changes">
								<button type="submit" onclick="updateData('<%= id %>')" class="btn btn-primary submit-btn">Save Changes</button>
							</div>
							
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
   
			<!-- Footer -->
			<footer class="footer">

				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
	
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="/img/logo.jpg"  width="120" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
	
							</div>
	
							 
	
							<div class="col-lg-3 col-md-6">
	
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p> mnnit,<br> allahabad ibdia </p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i> +91 *******545
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i> @example.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
	
							</div>
	
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
	
				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="container-fluid">
	
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a href="templateshub.net"></a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
	
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											
										</ul>
									</div>
									<!-- /Copyright Menu -->
	
								</div>
							</div>
						</div>
						<!-- /Copyright -->
	
					</div>
				</div>
				<!-- /Footer Bottom -->
	
			</footer>
			<!-- /Footer -->
		   
		</div>
		<!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="/js/jquery.min.js"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="/js/popper.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		
		<!-- Sticky Sidebar JS -->
        <script src="/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
        <script src="/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
		
		<!-- Select2 JS -->
		<script src="/plugins/select2/js/select2.min.js"></script>
		
		<!-- Dropzone JS -->
		<script src="/plugins/dropzone/dropzone.min.js"></script>
		
		<!-- Bootstrap Tagsinput JS -->
		<script src="/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
		
		<!-- Profile Settings JS -->
		<script src="/js/profile-settings.js"></script>
		
		<!-- Custom JS -->
		<script src="/js/script.js"></script>

		<!-- Doctor Profile Settings -->
		<script src="/js/Doctor/doctor_profile_settings.js"></script>
	</body>

<!-- /doctor-profile-settings.html -->
</html>