


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Online Appointment</title>


   
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/admin/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/admin/css/feathericon.min.css">
		
		<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/admin/css/style.css">
		
		<!--[if lt IE 9]>
			<script src="/js/html5shiv.min.js"></script>
			<script src="/js/respond.min.js"></script>
		<![endif]-->


    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            /* width: 40%;
            margin: auto;
            text-align: center; */
            max-width: 400px;
        margin: 50px auto;
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        .toggle-buttons {
            margin-bottom: 20px;
        }

        .toggle-buttons button {
            padding: 10px 20px;
            margin: 0 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #ccc;
        }

        .toggle-buttons button.active {
            background-color: #333;
            color: #fff;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-group button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            cursor: pointer;
        }

        .form-group button.login-btn {
            background-color: #4CAF50;
        }
    </style>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
  $(function() {
    var profession = [
      "Cardiology",
      "Dermatology",
      "Endocrinology",
      "Gastroenterology",
      "Hematology",
      "Immunology",
      "Nephrology",
      "Neurology",
      "Obstetrics and Gynecology",
      "Oncology",
      "Ophthalmology",
      "Orthopedics",
      "Otolaryngology (ENT)",
      "Pediatrics",
      "Psychiatry",
      "Pulmonology",
      "Radiology",
      "Rheumatology",
      "Urology",
      "Infectious Disease"
    ];

    $("#profession").autocomplete({
      source: profession
    });
  });
</script>
</head>
<body>
    
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="/health_care" class="logo">
						<img src="/admin/img/logo.jpg" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<!-- <img src="/admin/img/logo-small.png" alt="Logo" width="30" height="30"> -->
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<!-- <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> -->
							<!-- <span class="user-img"><img class="rounded-circle" src="/admin/img/profiles/avatar-01.jpg" width="31" alt="ABC"></span> -->
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<!-- <img src="/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle"> -->
								</div>
								<div class="user-text">
									<!-- <h6>ABC</h6> -->
									<!-- <p class="text-muted mb-0">Administrator</p> -->
								</div>
							</div>
							<!-- <a class="dropdown-item" href="/health_care/profile">My Profile</a> -->
							<!-- <a class="dropdown-item" href="settings.html">Settings</a> -->
							<!-- <a class="dropdown-item" href="/health_care/logout">Logout</a> -->
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
            <!-- header -->

            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li> 
								<a href="/health_care/dashboard"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<li> 
								<a href="/health_care/appointment_list"><i class="fe fe-layout"></i> <span>Appointments</span></a>
							</li>
							<li> 
								<!-- <a href="specialities.html"><i class="fe fe-users"></i> <span>Specialities</span></a> -->
							</li>
							<li> 
								<a href="/health_care/doctor_lists"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
							</li>
							<li> 
								<a href="/health_care/patient_lists"><i class="fe fe-user"></i> <span>Patients</span></a>
							</li>
							<!-- <li> 
								<a href="reviews.html"><i class="fe fe-star-o"></i> <span>Reviews</span></a>
							</li> -->
							<li> 
								<!-- <a href="transactions-list.html"><i class="fe fe-activity"></i> <span>Transactions</span></a> -->
							</li>
							<li class="active">
								<a href="addDoc"><i class=""></i><span>Add Doctor</span></a>
							</li>
							<li>
								<!-- <a href="addPharm"><i class=""></i><span>Add Pharmacy</span></a> -->
							</li>
							<li>
								<!-- <a href="addLab"><i class=""></i><span>Add Laboratory</span></a> -->
							</li>
							
						</ul>
					</div>
                </div>
            </div>


    <div class="container">
        <!-- <div class="toggle-buttons">
            <button id="patientBtn" class="active">Patient</button>
            <button id="doctorBtn">Doctor</button>
            <button id="hospitalBtn">Hospital</button>
        </div> -->

        

        <form id="doctor-form" class="form-group" onsubmit="return false">
           
            <h3>Doctor's Information</h3>
            <!-- <label for="full_name">Full Name:</label> -->
            <input type="text" id="name" name="full_name" placeholder="Full Name" required><br><br>
             <!-- <label for="email">Email:</label> -->
             <input type="email" id="email" name="email" placeholder="Email" required><br><br>
             <input type="password" id = "password" placeholder="Password" required><br><br>
              <!-- <label for="phone">Phone Number:</label> -->
            <input type="tel" id="contact" name="contact" placeholder="Contact Number" required><br><br>
           
            <!-- <label for="address">Address:</label> -->
            <input type="text" id="address" name="address"  placeholder="Address" required><br><br>
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select><br><br>
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" placeholder="Date of Birth" required><br><br>
           
    
            <h3>Professional Information</h3>
            <input type = "text" id = "degreeOverall" placeholder="Degree" required> 
            <small>Eg. BDS, MDS - Oral & Maxillofacial Surgery</small>
            <br>
            <input type="text" id="license" name="license"  placeholder="License" required><br><br>
            <input type="text" id="profession" name="Profession" placeholder="Profession" required><br><br>
            <input type="number" id="experience" name="experience" placeholder="Years of Experience" required><br><br>
            
           
    
            <button type="submit">Register</button><br><br>
            <!-- <button type="button" class="login-btn" onclick="location.href='http://127.0.0.1:5500/login1.html'">Login</button> -->

            <!-- <div class="login-link">
                <span>Already registered? </span><a href="http://127.0.0.1:5500/login1.html">Login here</a>
            </div> -->
        </form>

        

        <!-- <div class="form-group">
            <button type="button" class="login-btn">Login</button>
        </div> -->
    </div>

    <!-- <script>
        document.getElementById("patientBtn").addEventListener("click", function() {
            toggleForm('patient');
            this.classList.add("active");
            document.getElementById("doctorBtn").classList.remove("active");
            document.getElementById("hospitalBtn").classList.remove("active");
        });

        document.getElementById("doctorBtn").addEventListener("click", function() {
            toggleForm('doctor');
            this.classList.add("active");
            document.getElementById("patientBtn").classList.remove("active");
            document.getElementById("hospitalBtn").classList.remove("active");
        });

        document.getElementById("hospitalBtn").addEventListener("click", function() {
            toggleForm('hospital');
            this.classList.add("active");
            document.getElementById("patientBtn").classList.remove("active");
            document.getElementById("doctorBtn").classList.remove("active");
        });

        function toggleForm(formType) {
            var forms = document.getElementsByClassName('form-group');
            for (var i = 0; i < forms.length; i++) {
                forms[i].style.display = 'none';
            }
            document.getElementById(formType + '-form').style.display = 'block';
        }


    
    // Add event listener to login button
    document.querySelector('.login-btn').addEventListener('click', function() {
        // Redirect to the login page
        window.location.href = 'http://127.0.0.1:5500/login1.html';
    });

    </script> -->
    <!-- Register Hospital -->
    <script src="/js/doctor/register.js"></script>

    

</body>
</html>

