


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Online Appointment</title>


   
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/admin/img/favicon.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/admin/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/admin/css/font-awesome.min.css">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/admin/css/feathericon.min.css">
		
		<link rel="stylesheet" href="/admin/plugins/morris/morris.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/admin/css/style.css">
		
	

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            /* width: 40%;
            margin: auto;
            text-align: center; */
            max-width: 400px;
        margin: 50px auto;
        background-color: #fff;
        padding: 40px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        .toggle-buttons {
            margin-bottom: 20px;
        }

        .toggle-buttons button {
            padding: 10px 20px;
            margin: 0 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            background-color: #ccc;
        }

        .toggle-buttons button.active {
            background-color: #333;
            color: #fff;
        }

        .form-group {
            margin-bottom: 20px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .form-group button {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            background-color: #333;
            color: #fff;
            cursor: pointer;
        }

        .form-group button.login-btn {
            background-color: #4CAF50;
        }
    </style>
</head>
<body>
    
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="index.html" class="logo">
						<img src="/admin/img/logo.jpg" alt="Logo">
					</a>
					<a href="index.html" class="logo logo-small">
						<img src="/admin/img/logo-small.png" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="/admin/img/profiles/avatar-01.jpg" width="31" alt="ABC"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="/admin/img/profiles/avatar-01.jpg" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>ABC</h6>
									<!-- <p class="text-muted mb-0">Administrator</p> -->
								</div>
							</div>
							<a class="dropdown-item" href="profile.html">My Profile</a>
							<a class="dropdown-item" href="settings.html">Settings</a>
							<a class="dropdown-item" href="/health_care/logout">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
            <!-- header -->

            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li> 
								<a href="/health_care/dashboard"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<li> 
								<a href="appointment-list.html"><i class="fe fe-layout"></i> <span>Appointments</span></a>
							</li>
							<li> 
								<a href="specialities.html"><i class="fe fe-users"></i> <span>Specialities</span></a>
							</li>
							<li> 
								<a href="doctor-list.html"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
							</li>
							<li> 
								<a href="patient-list.html"><i class="fe fe-user"></i> <span>Patients</span></a>
							</li>
							
							<li> 
								<a href="transactions-list.html"><i class="fe fe-activity"></i> <span>Transactions</span></a>
							</li>
							<li>
								<a href="addDoc"><i class=""></i><span>Add Doctor</span></a>
							</li>
							<li>
								<a href="addPharm"><i class=""></i><span>Add Pharmacy</span></a>
							</li>
							<li class="active">
								<a href="addLab"><i class=""></i><span>Add Laboratory</span></a>
							</li>
							
						</ul>
					</div>
                </div>
            </div>


    <div class="container">
        

        

        <form id="doctor-form" class="form-group">
           
            <h3>Pathology Laboratory's Information</h3>
            <!-- <label for="full_name">Full Name:</label> -->
            <input type="text" id="full_name" name="full_name" placeholder="Name" required><br><br>
             <!-- <label for="email">Email:</label> -->
             <input type="email" id="email" name="email" placeholder="Email" required><br><br>
             <input type="password" placeholder="Password" required><br><br>
              <!-- <label for="phone">Phone Number:</label> -->
            <input type="tel" id="phone" name="phone" placeholder="Phone Number" required><br><br>
           
            
            <input type="text" id="address" name="address"  placeholder="Address" required><br><br>
            
            <label for="dob">Date of Birth:</label>
            <input type="date" id="dob" name="dob" placeholder="Date of Birth" required><br><br>
           
    
            <h3>Professional Information</h3>
            <!-- <label for="license">Medical License Number:</label> -->
            <input type="text" id="license" name="license"  placeholder="Lab Name" required><br><br>
            <!-- <label for="specialty">Specialty or Specializations:</label> -->
            <input type="text" id="specialty" name="specialty" placeholder="Lab Address" required><br><br>
            <!-- <label for="experience">Years of Experience:</label> -->
            <input type="number" id="experience" name="experience" placeholder="License Number" required><br><br>
            <!-- <label for="education">Education:</label> -->
            <input type="text" id="education" name="education" placeholder="Education" required><br><br>
            <!-- <label for="certifications">Board Certifications:</label> -->
            <input type="text" id="certifications" name="certifications" placeholder="Board Certifications" required><br><br>
    
           
    
            <button type="submit">Register</button><br><br>
            
        </form>

        

        
    </div>

   

    

</body>
</html>

